body {
  background-image: url(https://hdqwalls.com/download/cyberpunk-city-rt-1920x1080.jpg);
  background-size: cover;
  font-family: monospace;
  font-size: 20px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

tr:hover {
  background-color: rgba(204, 255, 255, 0.6) !important;
}

tr:nth-child(odd) {
  background-color: rgba(204, 255, 255, 0.2);
}

th,
td {
  font-size: 20px;
  padding: 5px;
  text-align: left;
}
 * a {
  color: royalblue;
 }
.c1 {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.c2 {
    margin-top: 2%;
  display: flex;
  justify-content: center;
}
table {
  background-color: rgba(204, 255, 255, 0.7);
  margin-top: 1%;
  margin: 1%;
}
#c1t1 {
}
#c1t2 {
}
#c2t1 {
}
ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1%;
  padding: 0;
}

li {
  float: left;
  width: 33.33%;
}

li a {
  background-color: rgba(204, 255, 255, 0.7);
  color: black;
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgba(153, 204, 255, 0.7);
  color: white;
}

li a.active {
  background-color: rgba(0, 51, 153, 0.7);
  border: 1px solid black;
  color: white;
}

.column {
  float: left;
  margin: 2%;
  padding: 2%;
  width: 40%;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

form {
  background-color: rgba(204, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 2%;
  width: 33.33%;
}

input[type="text"] {
  font-size: 80%;
  height: 5%;
  padding: 5%;
  width: 100%;
}

input[type="mail"] {
  font-size: 80%;
  height: 5%;
  padding: 5%;
  width: 100%;
}

select {
  font-size: 80%;
  height: 5%;
  width: 100%;
}

textarea {
  font-size: 80%;
  height: 15%;
  padding: 5%;
  resize: none;
  width: 100%;
}
